.feinman__link {
  font-size: 36px;
  line-height: 51px;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #000000;
}
.feinman__link:hover {
opacity: 0.4;
transition: 2s linear;
}
