@import url(./__author/footer__author.css);
@import url(./__column-heading/footer__column-heading.css);
@import url(./__column-links/footer__column-links.css);
@import url(./__social-icon/footer__social-icon.css);
@import url(./__columns/footer__column.css);
@import url(./__columns/_content/footer__column_content_copyright.css);
@import url(./__columns/_content/footer__column_content_info.css);
@import url(./__columns/_content/footer__column_content_social.css);

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
}
