.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  color: white;
  margin: 20px 16px 0px 0px;
  text-decoration: none;
}
.footer__column-link:hover {
  opacity: 0.4;
  transition: 2s linear;
}
