.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    background-color: #f2f2f2;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    position: relative;
    height: 100vh;
    /* выше установили ограничения для секции */
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0px;
}

.header__title {
    display: flex;
    width: 730px;
    margin-left: 64px;
    align-items: center;
    font-size: 102px;
    line-height: 96px;
    font-weight: bold;
}

.header__subtitle {
    position: absolute;
    width: 388px;
    bottom: 30px;
    left: 64px;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
}

.logo_place_header {
    position: absolute;
    width: 183px;
    height: 32px;
    top: 30px;
    left: 64px;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    background-image: url(../images/header-image.png);
    background-size: cover;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.header__link {
    color: #2f80ed;
    text-decoration: none;
}

.description {
    margin-top: 100px;
}

.two-columns {
    display: flex;
    width: 80%;
    justify-content: space-between;
    min-width: 784px;
    margin: auto;
}

.two-columns__brief {
    align-self: flex-start;
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-columns__paragraph {
    margin-top: 0px;
    font-weight: normal;
    margin-bottom: 30px;
}

.two-columns__span-accent {
    font-size: 24px;
    font-weight: bold;
}

.digits {
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-title {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
}

.section-subtitle {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 60%;
    margin-top: 20px;
    font-size: 24px;
    line-height: 34px;
}

.table {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1100px;
}

.table__cell {
    width: 250px;
    text-align: left;
    margin-top: 60px;
}

.table__heading {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.15;
}

.table__text {
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
}

.feinman {
    height: 790px;
    margin-top: 100px;
    background-color: #f2f2f2;
    background-image: url(../images/feynman.png);
    background-size: 867px 637px;
    background-repeat: no-repeat;
    position: relative;
    background-position: 0% 100%;
    padding-top: 100px;
}

.feinman__title {
    font-size: 120px;
    line-height: 1.15;
    font-weight: bold;
    width: 648px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 70px;
    text-align: center;
}

.feinman__subtitle {
    font-size: 36px;
    line-height: 51px;
    margin: auto;
    text-align: center;
    font-weight: normal;
}

.feinman__link {
    font-size: 36px;
    line-height: 51px;
    position: absolute;
    top: 50%;
    right: 48px;
    text-decoration: none;
    color: #000000;
}

.kaufman {
    background-color: #1f1f1f;
    overflow: hidden;
    position: relative;
}

.table__theme_dark {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: auto;
    margin-bottom: 90px;
    justify-content: space-between;
    font-weight: normal;
}

.section-title_theme_dark {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 20px;
    color: white;
}

.section-subtitle_theme_dark {
    text-align: center;
    color: white;
    font-weight: normal;
}

.table__cell_theme_dark {
    z-index: 2;
    margin-top: 80px;
    margin-right: 0px;
    margin-left: 0px;
    width: 200px;
    color: white;
}

.kaufman__triangle {
    background-image: url(../images/kaufman-triangle.svg);
    background-size: contain;
    width: 877px;
    height: 877px;
    right: -210px;
    top: 0px;
    position: absolute;
}

.footer {
    min-height: 350px;
    background-color: #1f1f1f;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer__columns {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    min-height: 350px;
}

.footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
}

.footer__author {
    display: flex;
    margin-bottom: 18px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin-top: 18px;
}

.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    color: white;
    margin: 20px 16px 0px 0px;
    text-decoration: none;
}

.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-style: bold;
    color: white;
    margin-left: 40px;
    margin-top: 0px;
}

.footer__column_content_social {
    justify-content: space-between;
}

.footer__social-icon {
    margin-right: 10px;
    height: 16px;
    width: 16px;
    text-decoration: none;
}

ul {
    list-style: none;
}

.logo_place_footer {
    width: 183px;
    height: 35px;
    margin-left: 0px;
}